// Main Tabs Wrapper

.main-tabs-wrapper {
    position: relative;

    .heading-absolute {
        top: 0;
        left: 0;
        z-index: 2;
    }
}


.main-tabs-contents {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /*  gap: 80px; */

}

.main-tabs-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    transition: $transition;

    /*    &:not(:first-child) {
        margin-top: 80px;
    } */

    /*  &:first-child {
        margin-top: 80px;
    } */

    // &:last-child {
    //     margin-bottom: 80px;
    // }

    &.active {
        z-index: 1;
        /*  opacity: 1 !important; */
    }
}

.main-tabs-title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 100%;
    /* 125% */
    letter-spacing: -0.8px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;


    // max-width: 35vw;
    // span {
    //     max-width: 35vw;
    // }
    >span {
        transition: $transition;
        opacity: .8;
    }

    .main-tabs-content.active &>span {
        opacity: 1;
    }

}

.main-tabs-contents {
    flex: 1;
    min-width: 0;
}

.main-tabs-descripts_outer {
    width: 54vw;
}

.main-tabs-descripts {
    padding: 60px;
    border-radius: 10px;
    background: #F4F4F4;
    position: sticky;
    top: 0;

    .main-tabs-descript:not(.active) {
        display: none;
        /* animation: anim-opacity .5s linear .2s; */
    }

    .main-tabs-descript.active {
        opacity: 1;
        animation: anim-opacity .5s ease-in;
    }

    /* top: calc(50vh - ) */
    .text {
        max-height: 90px;
        overflow: hidden;
    }

    .icons-wrappers {
        margin-top: 100px;
        gap: 2vw;
    }

    .icon-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 27px;
        justify-content: flex-start;
        flex: 1;
        padding: 25px;
        padding-bottom: 35px;
        background: #ffffff;
        border-radius: 10px;
        max-width: 270px;

        .img-wrapper {
            width: 60px;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}

@keyframes anim-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}