/* Header CSS */
header {
    width: 100%;
    z-index: 3;

    .header {
        align-items: center;
        /*  justify-content: space-between; */
        padding: 50px 0;
        transition: $transition;
        // transition: .5s linear;
        position: relative;
        z-index: 1;

        .header-logo {
            width: 45px;
        }

        .header-nav {
            align-items: center;
            gap: 60px;
            margin: 0 auto;

            >a {
                font-size: .8rem;
                color: $color-default-light;
                overflow: hidden;
                transition: $transition;
                border-bottom: 1px solid transparent;

                span {
                    position: relative;
                    display: inline-block;
                    transition: transform 0.3s;

                    &:before {
                        content: attr(data-hover);
                        position: absolute;
                        top: 100%;
                        transform: translate3d(0, 0, 0);
                    }
                }

                &:hover {
                    span {
                        transform: translateY(-100%);
                    }

                    border-color: $color-light;
                }
            }
        }

        .header-contacts {
            align-items: center;
            gap: 60px;

            .header-contacts_socs {
                gap: 50px;
                align-items: center;
            }

            .header-contacts_soc {
                width: 30px;
                position: relative;
                /*  overflow: hidden; */

                &:before {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    opacity: 0;
                    visibility: hidden;
                    background: $bg-btn-primary;
                    transition: $transition;
                }

                &:hover:before {
                    visibility: visible;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    transform: translateY(-50%) translateX(-50%);
                    opacity: 1;
                }
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: 0;
        transition: $transition;
        z-index: -1;
    }

    &.header-mini {
        // transform: translateY(-100%);
        // animation: animHeader .5s ease;


        &:after {
            opacity: 1;
            background: rgba(0, 0, 0, .8);

        }

        .header {
            padding: 10px 0;
        }
    }
}

@keyframes animHeader {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}