@import 'functions';


// TYPOGRAPHY
// ---------------------------------------------------------------
$font-heading: "HelveticaNeueCyr";
$font-primary: "Lato";
$font-primary-weight: normal;
$font-secondary: "HelveticaNeueCyr";
// $font-tertiary: "Oswald", sans-serif;

$min-font-size: 16;
$max-font-size: 20;
// $root-font-size: 16;
$body-font-size: calcFluidFontSize($min-font-size, $max-font-size, 320, 1920, px);
$body-line-height: 150;

$font-medium: 500;
$font-bold: bold;

// COLORS
// ---------------------------------------------------------------
$color-font-heading-dark: #333333;
$color-font-heading-light: #FFFFFF;
//$color-font-light: #ffffff;
$color-font-second: #f93c00;
$placeholder-color: rgba(0, 0, 0, .5);

$color-background-primary: #ffffff;
$color-background-second: #F1F1F1;

$color-default: #000000;
$color-default-light: #ffffff;

$color-btn-primary: #F93C00;

$color-light: #FFF;

$bg-btn-primary: #F93C00;
$bg-btn-primary-hover: red;


// Animation 
// ---------------------------------------------------------------

$transition: all .2s ease;

// Box Sizing
$box-border: border-box;